
mixin dropdown(placeholder, btncolor, options)
    .dropdown( onclick="dropdownOpen()")
        input.dropdown__input(type="text" placeholder=placeholder)
        .dropdown__button(type="button" class=`btn dropdown__button_${btncolor}`)
            i(class="material-icons icons-size")= 'keyboard_arrow_down'
        .dropdown__menu
            each option in options
                a(class="dropdown__item")= option
