
mixin dropdown(placeholder, options)
    .dropdown
        select.dropdown__input
            option(selected hidden)= placeholder
            each option in options
                option.dropdown__item= option
        button.dropdown__button
            i(class="material-icons icons-size")= 'keyboard_arrow_down'
            