@import "../../scss/constants.scss";

.dropdown {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    &__input {
        display: block;
        margin: 0.25rem 0;
        flex: 1;
        height: 1.875rem;
        border-radius: 0.2rem 0 0 0.2rem;
        border: 0;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: normal;
        font-size: 0.81rem;
        padding-left: 0.75rem;
        outline: none;
        -webkit-appearance: button;
        appearance: button;
    }

    &:before {
        content: "";
        position: absolute;
        width: 2.2rem;
        margin: 0.25rem 0;
        height: 1.875rem;
        border-radius: 0 0.2rem 0.2rem 0;
        border: 0;
        color: white;
        font-weight: normal;
        font-size: 1.75rem;
        outline: none;
        text-align: center;
        background-color: $color-green;
        pointer-events: none;
    }

    &__button {
        background: none;
        border: none;
        z-index: 1;
        color: white;
        position: absolute;
        right: 0;
        top: 0.35rem;
        pointer-events: none;
    }
    
    &__item {
        display: block;
        font-weight: normal;
        font-size: 0.875rem;
        padding-left: 0.75rem;
        outline: none;
        margin: 0;
        text-decoration-line: none;
        background-color: $color-green;
        color: white;
        padding-top: 0.44rem;
        height: 1.44rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.9);
            color: $color-green;
        }
    }
}
