
mixin dropdown(placeholder, options)
    .dropdown( onclick="dropdownOpen()")
        input.dropdown__input(placeholder=placeholder)
        button.dropdown__button
            i(class="material-icons icons-size")= 'keyboard_arrow_down'
        .dropdown__menu
            each option in options
                a(class="dropdown__item")= option
