@import "../../scss/constants.scss";

.percentage {
    &__circle {
        font-weight: normal;
        height: auto;
    }
    
    &__text {
        fill: $color-grey;
        font-weight: 300;
    }

    &__circle {
        width: 7.1875rem;
    }
}