$sliderm-body-height: 50px;
$sliderm-body-width: 270px;
$sliderm-body-color: grey;
$sliderm-line-color: lightgrey;
$sliderm-active-color: #ffbb00;
$sliderm-text-color: #ff0000;
$sliderm-line-height: 6px;
$sliderm-point-size: 20px;
$sliderm-body-height: $sliderm-point-size;
$sliderm-hint-font-size: 16px;
$sliderm-hint-arrow-side: 8px;

.sliderm {
    .sliderm-body {
        position: relative;
        height: $sliderm-body-height;
        width: $sliderm-body-width;
        user-select: none;
        margin-bottom: 40px;
        // border: 1px dashed $sliderm-body-color;
        &.vertical {
            transform: rotate(-90deg) translateX(-$sliderm-body-width/2);
            margin-bottom: $sliderm-body-width;
            .sliderm-scale {
                div {
                    transform: rotate(90deg);
                }
            }
            .sliderm-point, .sliderm-startpoint {
                .sliderm-hint, .sliderm-starthint {
                    transform: rotate(90deg);
                }
            }
        }
        .sliderm-line {
            position: absolute;
            height: $sliderm-line-height;
            width: 100%;
            border-radius: $sliderm-line-height/2;
            background-color: $sliderm-line-color;
            top: ($sliderm-body-height - $sliderm-line-height)/2;
        }
        
        .sliderm-line-active {
            position: absolute;
            height: $sliderm-line-height;
            border-radius: $sliderm-line-height/2;
            background-color: $sliderm-active-color;
            top: ($sliderm-body-height - $sliderm-line-height)/2;
        }
        
        .sliderm-point {
            position: absolute;
            height: $sliderm-point-size;
            width: $sliderm-point-size;
            background-color: $sliderm-active-color;
            top: ($sliderm-body-height - $sliderm-point-size)/2;
            border-radius: $sliderm-point-size/2;
            .sliderm-hint {
                position: absolute;
                display: table;
                height: auto;
                width: auto;
                padding: 3px 10px;
                background-color: $sliderm-active-color;
                border-radius: 4px; //$sliderm-hint-height/7;
                text-align: center;
                .sliderm-hint-arrow {
                    position: absolute;
                    content: "";
                    height: $sliderm-hint-arrow-side;
                    width: $sliderm-hint-arrow-side;
                    background-color: $sliderm-active-color;
                    transform: rotate(-45deg);
                    z-index: -1;
                }
                .sliderm-hint-text {
                    display: table-cell;
                    vertical-align: middle;
                    color: $sliderm-text-color;
                    font-family: 'Conv_Lato-Black';
                    font-size: $sliderm-hint-font-size;
                }
            }
        }
        .sliderm-startpoint {
            position: absolute;
            height: $sliderm-point-size;
            width: $sliderm-point-size;
            background-color: $sliderm-active-color;
            top: ($sliderm-body-height - $sliderm-point-size)/2;
            border-radius: $sliderm-point-size/2;
            .sliderm-starthint {
                position: absolute;
                display: table;
                height: auto;
                width: auto;
                padding: 3px 10px;
                background-color: $sliderm-active-color;
                border-radius: 4px; //$sliderm-hint-height/7;
                text-align: center;
                .sliderm-starthint-arrow {
                    position: absolute;
                    content: "";
                    height: $sliderm-hint-arrow-side;
                    width: $sliderm-hint-arrow-side;
                    background-color: $sliderm-active-color;
                    transform: rotate(-45deg);
                    z-index: -1;
                }
                .sliderm-starthint-text {
                    display: table-cell;
                    vertical-align: middle;
                    color: $sliderm-text-color;
                    font-family: 'Conv_Lato-Black';
                    font-size: $sliderm-hint-font-size;
                }
            }
        }
        .sliderm-scale {
            position: absolute;
            display: flex;
            width: 100%;
            left: 0px;
            justify-content: space-between;
            top: ($sliderm-body-height + $sliderm-line-height + $sliderm-point-size)/2 + 5px;
            color: $sliderm-line-color;
            font-size: 12px;
        }
    }
    .inputs {
        display: block;
        margin: 20px auto;
        .label {
            display: inline-block;
            width: 120px;
            color: $color-grey;
            font-family: 'Conv_Lato-Regular';
            font-size: 16px;
            text-align: right;
            &.shot {
                width: 80px;
            }
        }
        input {
            display: inline-block;
            width: 150px;
            margin: 4px;
            height: 30px;
            border-radius: 5px;
            border: 0px;
            background-color: $color-lightgray;
            color: $color-grey;
            font-family: 'Conv_Lato-Regular';
            font-size: 14px;
            padding-left: 12px;
        }
        .tick {
            margin: 10px 10px;
        }
    }
}