mixin sliderm(value, min, max, step, intervals, hint, scale, interval, start)
    .sliderm
        .sliderm-body
            .sliderm-line
            .sliderm-startpoint
                .sliderm-starthint
                    .sliderm-starthint-arrow
                    .sliderm-starthint-text
            .sliderm-line-active
            .sliderm-point
                .sliderm-hint
                    .sliderm-hint-arrow
                    .sliderm-hint-text
            .sliderm-scale
        .inputs
            .interval
                .label Start value
                input.sliderm-start(value= start)
                br
            .label Value
            input.sliderm-value(value= value)
            br
            .label ScaleMin
            input.sliderm-min(value= min)
            br
            .label ScaleMax
            input.sliderm-max(value= max)
            br
            .label Step
            input.sliderm-step(value= step)
            br
            .label Scale Intervals
            input.sliderm-intervals(value= intervals)
            br
            .label.shot Hint
            +tick('tick-hint ' + hint)
            .label.shot Interval
            +tick('tick-interval ' + interval)
            br
            .label.shot Scale
            +tick('tick-scale ' + scale)