@import "../scss/constants.scss";

.main-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 3.125rem;
    height: auto;

    &__wrapper {
        margin-top: 3.125rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &_left {
        flex: 2;
        margin: 0 auto;
    }
    
    &_right {
        flex: 1;
        margin: 0 auto;
    }
    
    &__video {
        flex: 1;
        margin: 0 auto;
        padding-top: 1.25rem;
        padding-bottom: 1.875rem;
        margin-bottom: 3.125rem;
        background-color: white;
        box-shadow: 0.3125rem 0.625rem 1.56rem $color-border;
        border-radius: 0.3125rem;
        border: 0.06rem solid $color-shadow;
        justify-content: center;

        .video {
            display: flex;
            width: 37.5rem;
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 42.5rem) {
                transform: scale(0.7);
                height: 18.75rem;
                width: 28.125rem;
            }    
        }
    }
    
    &__left-block {
        width: 18.75rem;
        margin: 0 auto;
        padding: 1.56rem;
        padding-bottom: 1.875rem;
        margin-bottom: 3.125rem;
        background-color: white;
        box-shadow: 0.3125rem 0.625rem 1.56rem $color-border;
        border-radius: 0.3125rem;
        border: 0.06rem solid $color-shadow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        padding: 0.3125rem 0;        
    }
    
    &__video-text {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 1.25rem;
        text-align: justify;
    }    
}

