$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;
$color-border: #bbbbbb;
$color-shadow: #bbbbbb;


.main-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 50px;
    height: auto;

    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &_left {
        flex: 2;
        margin: 0 auto;
    }
    
    &_right {
        flex: 1;
        margin: 0 auto;
    }
    
    &__video {
        flex: 1;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-border;
        border-radius: 5px;
        border: 1px solid $color-shadow;
        justify-content: center;

        .video {
            display: flex;
            width: 600px;
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 680px) {
                transform: scale(0.7);
                height: 300px;
                width: 450px;
            }    
        }
    }
    
    &__left-block {
        width: 300px;
        margin: 0 auto;
        padding: 25px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-border;
        border-radius: 5px;
        border: 1px solid $color-shadow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        padding: 5px 0px;        
    }
    
    &__video-text {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        text-align: justify;
    }    
}

