include ../buttons/buttons
include ../forms/form-input
include ../forms/form-textarea
include ../forms/form-toggle
include ../tick/tick
include ../search/search
include ../dropdown/dropdown
include ../messaging/messaging
include ../page-header/page-header
include ../footer/footer

- var page= 'User page'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .user-page
            +page-header(page)

            //- = = = = = = Insert page here = = = = = = = = =
            .user-page__wrapper
                .user-page_left
                    .user-page__forms
                        span Send to us your message
                        +form-input('Your Name', 'ERROR', 'red')
                        +form-input('Your Email', 'THANKS!', 'green')
                        +form-textarea("Your Message", "30", "4")
                        .user-page__toggles
                            .user-page__toggle-block
                                +form-toggle("check-3","6",true)
                                span Switch borders
                            .user-page__toggle-block
                                +form-toggle("check-3","6",true)
                                span Switch shadows
                            .user-page__toggle-block
                                +form-toggle("check-1","4",false)
                                span Switch to turn off your PC

                        .user-page__ticks
                            span Choose options you need
                            .user-page__tick-block
                                +tick('active') 
                                span A
                                +tick('') 
                                span B
                                +tick('') 
                                span C
                                +tick('') 
                                span D
                        .user-page__btn
                            +button('submit', ['green'])
                            
                .user-page_right
                    .user-page__left-block
                        +search('Search', 'red')
                        +dropdown('Choose An Option', 'green', ['This is option 1','This is option 2','This is option 3','This is option 4'])
      
                    .user-page__left-block
                        +messaging('Sarah Brown', 'sarah', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')


            //- = = = = = = = = end of page = = = = = = = = = =
            +footer
