include ../components/button/button
include ../components/form-input/form-input
include ../components/form-textarea/form-textarea
include ../components/form-toggle/form-toggle
include ../components/tick/tick
include ../components/search/search
include ../components/dropdown/dropdown
include ../components/messaging/messaging
include ../page-header/page-header
include ../footer/footer

- var page= 'User page'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .user-page
            +page-header(page)

            //- = = = = = = Insert page here = = = = = = = = =
            .user-page__wrapper
                .user-page_left
                    .user-page__forms
                        span Send to us your message
                        +form-input('Your Name', 5)
                        +form-input('Your Email', 8)
                        +form-textarea("Your Message", "30", "4")
                        .user-page__toggles
                            .user-page__toggle-block
                                +form-toggle(true)
                                span Switch borders
                            .user-page__toggle-block
                                +form-toggle(true)
                                span Switch shadows
                            .user-page__toggle-block
                                +form-toggle(false)
                                span Switch to turn off your PC

                        .user-page__ticks
                            span Choose options you need
                            .user-page__tick-block
                                +tick('true') 
                                span A
                                +tick('') 
                                span B
                                +tick('') 
                                span C
                                +tick('') 
                                span D
                        .user-page__btn
                            +button('submit', ['green'])
                            
                .user-page_right
                    .user-page__left-block
                        +search('Search', 'red')
                        +dropdown('Choose An Option', ['This is option 1','This is option 2','This is option 3','This is option 4'])
      
                    .user-page__left-block
                        +messaging('Sarah Brown', 'sarah', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')


            //- = = = = = = = = end of page = = = = = = = = = =
            +footer

        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="js/dropdown.js")
        script(src="js/lc_switch.min.js")
        link(rel="stylesheet" href="css/lc_switch.css")
        
