$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;


.user-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 50px;
    height: auto;
    
    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    &_left {
        flex: 2;
        margin: 0 auto;
        min-width: 360px;
    }
    
    &_right {
        flex: 1;
        margin: 0 auto;
    }
    
    &__forms {
        max-width: 640px;
        margin: 0 auto;
        padding: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-shadow;
        border-radius: 5px;
        border: 1px solid $color-border;
        justify-content: center;
    }

    &__left-block {
        width: 300px;
        margin: 0 auto;
        padding: 25px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-border;
        border-radius: 5px;
        border: 1px solid $color-shadow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__toggles, &__ticks {
        display: block;
        width: 100%;
        margin: 20px;
        font-size: 18px;
    }

    &__toggle-block {
        display: block;
        width: 100%;
        margin: 0px auto;

        span {
            display: inline-block;
            text-align: left;
            margin: 5px;
        }
    }

    &__tick-block {
        display: block;
        width: 100%;
        margin: 0px auto;

        span {
            display: inline-block;
            text-align: left;
            margin: 5px;
            margin-right: 30px;
        }
    }

    &__btn {
        // display: inline-block;
        text-align: right;
        margin: 5px;
    }
}

