@import "../scss/constants.scss";

.user-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 3.125rem;
    height: auto;
    
    &__wrapper {
        margin-top: 3.125rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    &_left {
        flex: 2;
        margin: 0 auto;
        min-width: 22.5rem;
    }
    
    &_right {
        flex: 1;
        margin: 0 auto;
    }
    
    &__forms {
        max-width: 40rem;
        margin: 0 auto;
        padding: 1.875rem;
        margin-bottom: 3.125rem;
        background-color: white;
        box-shadow: 0.3125rem 0.625rem 1.56rem $color-shadow;
        border-radius: 0.3125rem;
        border: 0.06rem solid $color-border;
        justify-content: center;
    }

    &__left-block {
        width: 18.75rem;
        margin: 0 auto;
        padding: 1.56rem;
        padding-bottom: 1.875rem;
        margin-bottom: 3.125rem;
        background-color: white;
        box-shadow: 0.3125rem 0.625rem 1.56rem $color-border;
        border-radius: 0.3125rem;
        border: 0.06rem solid $color-shadow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__toggles, &__ticks {
        display: block;
        width: 100%;
        margin: 1.25rem;
        font-size: 1.125rem;
    }

    &__toggle-block {
        display: block;
        width: 100%;
        margin: 0 auto;

        span {
            display: inline-block;
            text-align: left;
            margin: 0.3125rem;
        }
    }

    &__tick-block {
        display: block;
        width: 100%;
        margin: 0 auto;

        span {
            display: inline-block;
            text-align: left;
            margin: 0.3125rem;
            margin-right: 1.875rem;
        }
    }

    &__btn {
        // display: inline-block;
        text-align: right;
        margin: 0.3125rem;
    }
}

