$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;


.user-div {
    display: block;
    width: 95%;
    min-width: 1024px;
    max-width: 1280px;
    font-family: 'Conv_Lato-Regular';
    font-size: 16px;
    margin: 0 auto;
    margin-top: 50px;
    .user-page {
        margin-top: 50px;
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .user-page-left {
        flex-grow: 2;
        margin: 0 auto;
    }
    
    .user-page-right {
        flex-grow: 1;
        margin: 0 auto;
    }
    
    .video-block {
        width: 640px;
        margin: 0 auto;
        padding: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-shadow;
        border-radius: 5px;
        border: 1px solid $color-border;
        display: flex;
        flex-wrap: wrap;  
        justify-content: center;
        .stage {
            width: 90%;
            margin: 20px auto;
            margin-bottom: 30px;
        }
    }
    
    .in-left-block {
        width: 300px;
        margin: 0 auto;
        padding: 25px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-shadow;
        border-radius: 5px;
        border: 1px solid $color-border;
    }
    
    .user-page-video-text {
        display: block;
        width: 600px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .toggles {
        display: block;
        width: 100%;
        margin: 30px;
    }
    .toggle-block {
        display: block;
        width: 100%;
        margin: 0px auto;
    }
    span {
        font-size: 18px;
        display: inline-block;
        text-align: left;
        margin: 5px;
        margin-right: 40px;
    }
    .toggle {
        display: inline-block;
        margin: 5px;
    }
}

