include ../buttons/buttons
include ../percentages/percentages
include ../sliderm2/sliderm2
include ../tick/tick
include ../stages/stages
include ../forms/form-input
include ../forms/form-textarea
include ../forms/form-toggle
include ../search/search
include ../user/user
include ../news/news
include ../event/event
include ../maps/maps
include ../calendar/calendar
include ../messaging/messaging
include ../video/video
include ../header/header
include ../footer/footer

- var page= 'Currency'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .stat-div
            +header(page)

            //- = = = = = = Insert page here = = = = = = = = =
            .stat-page
                .stat-page-center
                    //- .block
                    h1 USD/RUB exchange rates
                    .block
                        +percentage(64)
                        +percentage(67)
                        +percentage(68)
                        +percentage(66)
                        +percentage(67)
                    .block
                        span 09.08.2018
                        span 11.08.2018
                        span 14.08.2018
                        span 16.08.2018
                        span 17.08.2018

                    .block-btn
                        .left
                            span Prev
                            +button('<', 'arrow')
                        .right
                            +button('>', 'arrow disable')
                            span Next
                        
                    h1 recommendation

                    .block
                        .left
                            +percentage4list(50,35,10,400)
                        .right
                            .row
                                .color.color-1
                                span Buy
                            .row
                                .color.color-2
                                span Sell
                            .row
                                .color.color-3
                                span Hold
                            .row
                                .color.color-4
                                span No recomendations


            .block1
                span Brightness
                span Contrast
            .block1
                //- sliderm2(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
                +sliderm2(0, 100, 20, 40, 1, 3, 'active', '', '', '', 200, 5, 20, '#e6e6e6', '#e75735', 'lightgrey', 'white')
                +sliderm2(0, 100, 0, 75, 25, 4, '', 'active', '', '', 200, 5, 20, '#e6e6e6', '#4eb7a8', 'lightgrey', 'white')


            //- = = = = = = = = end of page = = = = = = = = = =
        .stat-div
            +footer
