$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;

body {
    font-family: 'Conv_Lato-Black';
    color: #797979;
}
h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 80px;
}
.stat-div {
    display: block;
    width: 95%;
    min-width: 1024px;
    max-width: 1280px;
    font-family: 'Conv_Lato-Regular';
    font-size: 16px;
    margin: 0 auto;
    margin-top: 50px;
    .stat-page {
        margin-top: 50px;
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .stat-page-center {
        width: 73%;
        margin: 0 auto;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-shadow;
        border-radius: 5px;
        border: 1px solid $color-border;
        text-align: center;
        .block {
            display: flex;
            flex-wrap: wrap;  
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin: 30px auto;
            span {
                font-size: 14px;
                margin: 0px;
            }
            .row {
                display: block;
                margin: 10px;
                text-align: left;
                .color {
                    width: 35px;
                    height: 15px;
                    display: inline-block;
                    margin-right: 20px;
                    &.color-1 {
                    background-color: $color-grey;
                    }
                    &.color-2 {
                    background-color: $color-red;
                    }
                    &.color-3 {
                    background-color: $color-green;
                    }
                    &.color-4 {
                    background-color: $color-lightgray;
                    }
                }
                span {
                    font-size: 24px;
                }
            }
        }
        .block-btn {
            display: flex;
            flex-wrap: wrap;  
            justify-content: center;
            width: 100%;
            margin: 30px auto;
            span {
                font-size: 32px;
                margin: 10px;
            }
            .left, .right {
                margin: 20px;
            }
        }
    }
    
    span {
        font-size: 24px;
        display: inline-block;
        text-align: left;
        margin: 5px;
        margin-right: 40px;
    }
    
    .stat-page-text {
        display: block;
        width: 600px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
.block1 {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    font-size: 24px;
    width: 90%;
    margin: 10px auto;
    color: $color-border;
}

