$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;

.stat-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 50px;
    height: auto;
    
    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    &_center {
        flex: 1;
        margin: 0 auto;
        min-width: 360px;
        width: 73%;
        margin: 0 auto;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 5px 10px 25px $color-shadow;
        border-radius: 5px;
        border: 1px solid $color-border;
        text-align: center;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 30px auto;

        &_w300 {
            width: 300px;
        }

        &_left {
            flex:1;
        }

        &_right {
            flex:1;
            align-items: flex-start;
        }
    }
        
    &__color {
        width: 35px;
        height: 15px;
        display: inline-block;
        margin-right: 20px;
        font-size: 24px;
        &_grey {
        background-color: $color-grey;
        }
        &_red {
        background-color: $color-red;
        }
        &_green {
        background-color: $color-green;
        }
        &_lightgray {
        background-color: $color-lightgray;
        }
    }

    &__colors {
        text-align: left;
    }
    
    span {
        font-size: 24px;
    }

    h1 {
        text-transform: uppercase;
        font-size: 32px;
        margin-top: 80px;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;
        font-size: 24px;
        width: 90%;
        max-width: 600px;
        margin: 10px auto;
        color: $color-border;
        margin-bottom: 50px;
        .sliderm2 {
            width: 90%;
        }
    }
}

