@import "../scss/constants.scss";

.stat-page {
    width: 95%;
    font-family: 'Conv_Lato';
    font-weight: normal;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 3.125rem;
    height: auto;
    
    &__wrapper {
        margin-top: 3.125rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    &_center {
        flex: 1;
        margin: 0 auto;
        min-width: 22.5rem;
        width: 73%;
        margin: 0 auto;
        margin-bottom: 3.125rem;
        background-color: white;
        box-shadow: 0.3125rem 0.625rem 1.56rem $color-shadow;
        border-radius: 0.3125rem;
        border: 0.06rem solid $color-border;
        text-align: center;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 1.875rem auto;

        &_w300 {
            width: 18.75rem;
        }

        &_left {
            flex:1;
        }

        &_right {
            flex:1;
            align-items: flex-start;
        }
    }

    &__header {
        padding-bottom: 3.125rem;
    }
        
    &__color {
        width: 2.1875rem;
        height: 0.94rem;
        display: inline-block;
        margin-right: 1.25rem;
        font-size: 1.5rem;
        &_grey {
        background-color: $color-grey;
        }
        &_red {
        background-color: $color-red;
        }
        &_green {
        background-color: $color-green;
        }
        &_lightgray {
        background-color: $color-lightgray;
        }
    }

    &__colors {
        text-align: left;
    }
    
    span {
        font-size: 1.5rem;
    }

    h1 {
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 5rem;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;
        font-size: 1.5rem;
        width: 90%;
        max-width: 37.5rem;
        margin: 0.625rem auto;
        color: $color-border;
        margin-bottom: 3.125rem;
        font-size: 1rem;
        .sliderm3 {
            width: 90%;
        }
    }
}

