include ../buttons/buttons
include ../percentages/percentages
include ../stages/stages
include ../search/search
include ../user/user
include ../news/news
include ../event/event
include ../maps/maps
include ../calendar/calendar
include ../messaging/messaging
include ../video/video
include ../header/header
include ../footer/footer

- var page= 'About page'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .stat-div
            +header(page)

            //- = = = = = = Insert page here = = = = = = = = =
            .stat-page
                .stat-page-center
                    .block-about
                        +map(37.791235, -122.414842)
                        .stat-page-text
                            span About our company over 30 years, Alshaya has been a pioneering force in the retail franchise sector, using our exceptional market knowledge and experience to grow at pace across MENA, Russia, Turkey, Europe and beyond. franchise nearly 90 of the world's best-known retail brands – including Starbucks, H&M, Mothercare, Debenhams, American Eagle Outfitters, P.F. Chang's, The Cheesecake Factory, Victoria's Secret, Boots, Pottery Barn and KidZania - in prime locations across our markets. Our ambition is to be a world-leading retailer, and our multi-brand, multi-market franchise portfolio delivers a truly international shopping experience across a range of sectors that is unmatched: Fashion & Footwear, Food, Health & Beauty, Pharmacy, Optics, Home Furnishings and Leisure & Entertainment. We are committed to delivering new brands and new retail platforms as part of our commitment to offer innovative retail experiences that keep customers returning to our stores. Foresight, energy and a passion to be the best drive us to explore new opportunities and to build strong and effective business partnerships built on trust, integrity and mutual benefit. We are proud of the retail expertise that exists within Alshaya, and work hard to build and maintain a reputation as 'Employer of Choice'.

            //- = = = = = = = = end of page = = = = = = = = = =
            +footer
