
.sliderm2page {
    display: block;
    width: 95%;
    min-width: 800px;
    max-width: 1920px;
    font-family: 'Conv_Lato-Regular';
    font-size: 16px;
    // margin: 0 auto;
    align-self: center;
    margin-top: 50px;
    padding: 50px;
    
    .sliderm2page-header {
        display: block;
        width: auto;
        margin: 0 auto;
        margin-bottom: 50px;
        font-size: 48px;
        padding: 10px;
        text-align: center;
        background-color: $color-lightgray;
        border-radius: 5px;
    }
    .slider2page-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sliderm2 {
        flex-direction: row;
        width: 36%;
        margin: 50px 0px;
        background-color: white;
    }
}

