include ../sliderm2/sliderm2
include ../tick/tick
include ../header/header
include ../footer/footer
include ../chooseColor/chooseColor

- var page= 'Sliderm2 page'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .sliderm2page
            .sliderm2page-header sliderm2
            .slider2page-content
                .slider-block
                    //- sliderm2(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText) rgb(250, 235, 215, 0.5)
                    +sliderm2(20, 120, 40, 60, 2, 3, 'active', '', '', 'active', 220, 15, 30, '#e6e6e6', 'rgb(231, 87, 53)', 'lightgrey', 'white')
                .inputs
                    .label ScaleMin
                    input.sliderm-min(value= min)
                    br
                    .label ScaleMax
                    input.sliderm-max(value= max)
                    br
                    .interval
                        .label Value1
                        input.sliderm-value1(value= value1)
                        br
                    .label Value2
                    input.sliderm-value2(value= value2)
                    br
                    .label Step
                    input.sliderm-step(value= step)
                    br
                    .label Scale Intervals
                    input.sliderm-intervals(value= intervals)
                    br
                    .label.shot Hint
                    +tick('tick-hint ' + hint)
                    .label.shot Interval
                    +tick('tick-interval ' + interval)
                    br
                    .label.shot Scale
                    +tick('tick-scale ' + scale)
                    .label.shot Vertical
                    +tick('tick-vertical ' + vertical)
                    br
                    .label Vertical size
                    input.sliderm-vertical-size(value= verticalSize)
                    +chooseColor(231, 87, 53, 255)
                textarea(rows="5").result
            hr
            .slider2page-content
                .slider-block
                    //- sliderm2(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
                    +sliderm2(70, 120, 80, 100, 0.5, 6, '', 'active', '', '', 250, 8, 16, '#e6e6e6', 'rgba(200, 100, 200, 1)', 'lightgrey', 'black')
                .inputs
                    .label ScaleMin
                    input.sliderm-min(value= min)
                    br
                    .label ScaleMax
                    input.sliderm-max(value= max)
                    br
                    .interval
                        .label Value1
                        input.sliderm-value1(value= value1)
                        br
                    .label Value2
                    input.sliderm-value2(value= value2)
                    br
                    .label Step
                    input.sliderm-step(value= step)
                    br
                    .label Scale Intervals
                    input.sliderm-intervals(value= intervals)
                    br
                    .label.shot Hint
                    +tick('tick-hint ' + hint)
                    .label.shot Interval
                    +tick('tick-interval ' + interval)
                    br
                    .label.shot Scale
                    +tick('tick-scale ' + scale)
                    .label.shot Vertical
                    +tick('tick-vertical ' + vertical)
                    br
                    .label Vertical size
                    input.sliderm-vertical-size(value= verticalSize)
                    +chooseColor(200, 100, 200, 255)
                textarea(rows="5").result
                
        script(src="js/jquery-3.3.1.min.js")
        script(src="js/lc_switch.min.js")
        link(rel="stylesheet" href="css/lc_switch.css")