

.profiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    min-width: 18.75rem;
    align-items: center;

    &__item {
        margin-bottom: 1.56rem;
        margin-left: 0.6875rem;
        list-style-type: none;
    }

    &__header {
        margin-top: 0;
        margin-bottom: 1.6875rem;
        letter-spacing: 0.06rem;
    }    

    &__content {
        padding-left: 0;
        margin: 0;
    }
}
