include ../header/header
include ../user-card/user-card

mixin profiles({header,cards})
    .profiles
        .profiles__header 
            +header(header)
        each c in cards
            .profiles__item
                +user-card(c.img, c.name, c.prof, c.color, c.a1, c.a2, c.a3)