
@import '../components/user-card/user-card';

.profiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    align-items: center;

    &__item {
        margin-bottom: 25px;
        margin-left: 11px;
        list-style-type: none;
    }

    &__header {
        margin-top: 0px;
        margin-bottom: 27px;
        letter-spacing: 1px;
    }    

    &__content {
        padding-left: 0;
        margin: 0;
    }
}
