include ../components/header/header
include ../components/user-card/user-card

mixin profiles({header,cards})
    .profiles
        header.profiles__header 
            +header(header)
        ul.profiles__content
            each c in cards
                li.profiles__item
                    +user-card(c.img, c.name, c.prof, c.color, c.a1, c.a2, c.a3)