include ../components/header/header
include ../components/user-card/user-card

mixin profiles({header,cards})
    .profiles
        header.profiles__header 
            +header(header)
        ul.profiles__content
            each card in cards
                li.profiles__item
                    +user-card(card.img, card.name, card.prof, card.color, card.a1, card.a2, card.a3)