@import "../../scss/constants.scss";

.btn {
    position: relative;
    width: inherit;
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    border-radius: inherit;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    &_theme_red {
        box-shadow: 0 0.2rem $color-red-shadow;
        border: 0.06rem solid $color-red-shadow;
        color: $color-red;
        background-color: white;

        &.btn_small {
            box-shadow: 0 0.125rem $color-red-shadow;
        }

        &:hover {
            background-color: $color-red;
            color: white;
        }
    
        &:active {
            transform: translateY(0.2rem);
            box-shadow: 0 0;
            color: white;
            background-color: $color-red;
        }
    }

    &_theme_green {
        box-shadow: 0 0.2rem $color-green-shadow;
        border: 0.06rem solid $color-green-shadow;
        color: $color-green;
        background-color: white;

        &.btn_small {
            box-shadow: 0 0.125rem $color-green-shadow;
        }

        &:hover {
            color: white;
            background-color: $color-green;
        }
    
        &:active {
            transform: translateY(0.2rem);
            box-shadow: 0 0;
            color: white;
            background-color: $color-green;
        }
    }
}

/*  Ripple */

.ripple {
    position:absolute;
    background:#fff;
    border-radius:50%;
    width:0.3125rem;
    height:0.3125rem;
    animation: rippleEffect .88s 1;
    opacity:0;
}
  
@keyframes rippleEffect {
    0% {transform:scale(1); opacity:0.4;}
    100% {transform:scale(100); opacity:0;}
}