
//- btnclass can be small theme_red|theme_green

mixin button(btnlabel, view)
    - var btnClassString = `btn`
    each attr in view
        if (attr=='theme_green')
            - btnClassString = `${btnClassString} btn_theme_green`
        else
            - btnClassString = `${btnClassString} btn_theme_red`
        if (attr=='small')
            - btnClassString = `${btnClassString} btn_small`
    
    button(class=btnClassString)= btnlabel
    