$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;
$color-green-shadow: #28a290;
$color-red-shadow: #bf3e1f;
$color-grey-light: #f2f2f2;

.tick {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-lightgray;
    color: $color-grey;
    text-align: center;
    user-select: none;

    i {
        font-size: 1.125rem;
        margin-top: 0.1875rem;
    }
    
    &.true {
        background-color: $color-green;
        color: white;
    }
}