
.header-top {
    display: flex;
    width: 100%;
    height: 150px;
    font-family: 'Conv_Lato-Black';
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: white;
    background-color: $color-green;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}