
.flatUI {
    display: block;
    max-width: 38.75rem;
    margin: 0 auto;
    padding-top: 3.4375rem;
}

.search-profile-row {
    min-height: 21.125rem;
    padding-top: 0.3125rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration-line: none;
    color: inherit;
}