@import '../components/header/header';
@import '../buttons/buttons';
@import '../arrow-buttons/arrow-buttons';
@import '../percentages/percentages';
@import '../sliders/sliders';
@import '../stages/stages';
@import '../forms/forms';
@import '../searches/searches';
@import '../profiles/profiles';
@import '../news-events-row/news-events-row';
@import '../location/location';
@import '../calendar-messaging-row/calendar-messaging-row';
@import '../video-row/video-row';
@import '../html/1';
@import '../html/2';
@import '../html/3';
@import '../html/4';
@import '../html/5';
@import '../page-header/page-header';
@import '../footer/footer';


.flatUI {
    display: block;
    max-width: 38.75rem;
    margin: 0 auto;
    padding-top: 3.4375rem;
}

.search-profile-row {
    min-height: 21.125rem;
    padding-top: 0.3125rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration-line: none;
    color: inherit;
}