

include ../buttons/buttons
include ../arrow-buttons/arrow-buttons
include ../percentages/percentages
include ../sliders/sliders
include ../stages/stages
include ../forms/forms
include ../searches/searches
include ../profiles/profiles
include ../news-events-row/news-events-row
include ../location/location
include ../calendar-messaging-row/calendar-messaging-row
include ../video-row/video-row

mixin flatUI({buttons,arrowButtons,percentages,sliders,stages,forms,searches,profiles,newsEventsRow,location,calendarMessagingRow,videoRow})
    .flatUI
        +buttons(buttons)
        +arrow-buttons(arrowButtons)
        +percentages(percentages)
        +sliders(sliders)
        +stages(stages)
        +forms(forms)
        .search-profile-row
            +searches(searches)
            +profiles(profiles)
        +news-events-row(newsEventsRow)
        +location(location)
        +calendar-messaging-row(calendarMessagingRow)
        +video-row(videoRow)