include ../components/header/header
include ../components/percentage/percentage
include ../components/sectors/sectors

mixin percentages({header,values,uisectors})
    .percentages
        header.percentages__header 
            +header(header)
        ul.percentages__content
            each value in values
                li.percentages__item
                    +percentage(value)
            li.percentages__item
                +sectors(uisectors)