
.percentages {
    min-height: 9.75rem;

    &__header {
        padding-top: 3rem;
        margin-bottom: 0.625rem;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
        margin-left: -0.625rem;
        flex-wrap: wrap;
        padding: 0;
    }

    &__item {
        list-style-type: none;
    }
}