$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

svg {
    font-family: 'Conv_Lato-Regular';
    width: 115px;
    height: auto;
}
.svg-text {
    fill: $color-grey;
}

#cnvs {
    width: 115px;
    height: 115px;         
}