.dropdown {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    &__input {
        display: block;
        margin: 4px 0px;
        flex: 1 auto;
        height: 30px;
        border-radius: 3px 0px 0px 3px;
        border: 0px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: normal;
        font-size: 14px;
        padding-left: 12px;
        outline: none;
    }

    &__button {
        display: block;
        flex: 0 35px;
        margin: 4px 0px;
        height: 26px;
        border-radius: 0px 3px 3px 0px;
        border: 0px;
        color: white;
        font-weight: normal;
        font-size: 12px;
        outline: none;
        text-align: center;
        padding-top: 4px;
    }

    &__button_red {
        background-color: $color-red;    
    }

    &__button_green {
        background-color: $color-green;
    }
    
    &__menu-1 {
        position: absolute;
        visibility: hidden;
        top: 34px;
        width: 100%;
        background-color: $color-green;
        border-radius: 2px;
        
        &.visible {
            visibility: visible;        
        }
    }
    
    &__item {
        flex: 1 auto;
        margin: 0;
        text-decoration-line: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        padding-top: 7px;
        height: 23px;
        z-index: 10000;
    }
}

