mixin user-card(img, name, prof, color)
    .user-card
        //- .user-left
        img.user-left(src="img/"+img+".png", alt="no image")
        div(class="user-right "+color)
            .romb
            .user-name= name
            .user-prof= prof
            .socials
                a(href="3.html")
                    i.ion-logo-facebook
                a(href="3.html")
                    i.ion-logo-twitter
                a(href="3.html")
                    i.ion-logo-dribbble
            