@import '../components/map/map';

.location {
    height: 22.06rem;
    padding-top: 1.25rem;

    &__header {
        margin-bottom: 1.875rem;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
    }

    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 37.5rem) {
        &__content {
            transform: scale(0.6);
            height: 11.875rem;
        }

        height: 13.75rem;
    }
}
