$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.form-textarea {
    &__wrapper {
        padding: 0.3125rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__text {
        height: auto;
        resize: none;
        border-radius: 0.3125rem;
        border: 0;
        background-color: $color-lightgray;
        color: $color-grey;
        font-family: inherit;
        font-weight: normal;
        font-size: 0.875rem;
        padding: 0.75rem;
        display: block;
        width: 100%;
        outline: none;
    }

    &__btn {
        align-self: flex-end;
        justify-self: right;
        margin-top: 0.44rem;
        height: 2rem;
        width: 7.375rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-radius: 0.25rem;
    }
}
