include ../header/header
include ../search/search
include ../dropdown/dropdown

mixin searches({header,searches,dropdown})
    .searches
        .searches__header 
            +header(header)
        each s in searches
            .searches__content
                +search(s.placeholder, s.btncolor, s.status)
        .searches__content
            +dropdown(dropdown.placeholder, dropdown.btncolor, dropdown.options)