include ../components/header/header
include ../components/search/search
include ../components/dropdown/dropdown

mixin searches({header,searches,dropdown})
    .searches
        header.searches__header 
            +header(header)
        ul.searches__content
            each s in searches
                li.searches__item
                    +search(s.placeholder)
            li.searches__item
                +dropdown(dropdown.placeholder, dropdown.options)