
mixin form-toggle(name, value, checked)
    .form-toggle
        if checked
            input(type="checkbox", name=name, value=value, checked="checked", autocomplete="off")
        else
            input(type="checkbox", name=name, value=value, autocomplete="off")
