$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.form-toggle {
    .lcs_switch {
        box-shadow: 0 0 0;
        width: 3.75rem;
        height: 1.5rem;
    }
    .lcs_label {
        font-family: 'Conv_Lato';
        font-weight: normal;
        font-size: 0.75rem;
    }
    .lcs_cursor {
        width: 1.125rem;
        height: 1.125rem;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 2.5rem;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 0.3125rem;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 0.44rem;
    }
    .lcs_on {
        background: $color-green;
    }
    .lcs_off {
        background: $color-lightgray;
    }
}
