$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.form-toggle {
    .lcs_switch {
        box-shadow: 0 0 0 !important;
        width: 3.75rem !important;
        height: 1.5rem;
    }
    .lcs_label {
        font-family: 'Conv_Lato' !important;
        font-weight: normal !important;
        font-size: 0.75rem !important;
    }
    .lcs_cursor {
        width: 1.125rem;
        height: 1.125rem;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 2.5rem !important;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 0.3125rem !important;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 0.44rem !important;
    }
    .lcs_on {
        background-color: $color-green !important;
    }
    .lcs_off {
        background-color: $color-lightgray !important;
    }
}
