
mixin form-toggle(checked)
    .form-toggle
        if checked
            input(type="checkbox" class="js-toggle" checked="checked")
        else
            input(type="checkbox" class="js-toggle")
