include ../components/arrow-button/arrow-button

mixin arrow-buttons({header,buttons})
    .arrow-buttons
        header.arrow-buttons__header 
            +header(header)
        .arrow-buttons__content
            each button in buttons
                +arrow-button(button.label, button.view)
                