
.arrow-buttons {

    &__header {
        padding-top: 3.6rem;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
        max-width: 27.8rem;
    }
}
