@import '../components/arrow-button/arrow-button';

.arrow-buttons {
    height: 8.2rem;
    padding-top: 1.25rem;

    &__header {
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
        max-width: 27.8rem;
    }
}
