@import '../button/button';

.arrow-buttons {
    height: 131px;
    padding-top: 20px;

    &__header {
        margin-bottom: 33px;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0px auto;
        max-width: 445px;
    }
}
