include ../arrow-button/arrow-button

mixin arrow-buttons({header,buttons})
    .arrow-buttons
        .arrow-buttons__header 
            +header(header)
        .arrow-buttons__content
            each b in buttons
                +arrow-button(b.label, b.view)
                