$color-grey-light: #f2f2f2;
$color-red: #e75735;
$color-red-carusel: #d54c2c;

.calendar {
    width: 280px;
    color: white;
    border-radius: 5px;
    user-select: none;

    &__date {
        width: 100%;
        height: 90px;
        background-color: $color-red;
        font-weight: 300;
        font-size: 78px;
        text-align: center;
        padding-top: 20px;
        border-radius: 5px 5px 0px 0px;
    }

    &__carusel {
        display: flex;
        width: 100%;
        height: 40px;
        background-color: $color-red-carusel;
        text-align: center;
        align-items: center;
        font-weight: normal;
        font-size: 24px;

        &-left, &-right {
            flex: 1;

            i {
                font-size: 32px;
                cursor: pointer;
            }
        }

        &-month {
            flex: 4;
            text-transform: capitalize;
            font-weight: 300;
        }
    }

    &__week {
        width: 100%;
        height: 29px;
        background-color: $color-red;
        font-weight: normal;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid white;
    }

    &__row {
        width: 280px;
        height: 40px;
        background-color: white;
        font-weight: normal;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    &__day {
        width: 39px;
        height: 29px;
        padding-top: 10px;
        background-color: $color-grey-light;
        font-weight: normal;
        font-size: 18px;
        vertical-align: middle;
        &_thisMonth {
            color: $color-grey;
            &:hover {
                background-color: $color-red;
                color: white;
                cursor: pointer;
            }
        }
    }

    &__footer {
        display: block;
        width: 258px;
        height: 32px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 18px;
        padding-left: 22px;
        border-radius: 0px 0px 5px 5px;
    }
}