$color-grey-light: #f2f2f2;
$color-red: #e75735;
$color-red-carusel: #d54c2c;

.calendar {
    width: 280px;
    color: white;
    border-radius: 5px;
    user-select: none;

    &__date {
        width: 100%;
        height: 90px;
        background-color: $color-red;
        font-weight: 300;
        font-size: 78px;
        text-align: center;
        padding-top: 20px;
        border-radius: 5px 5px 0px 0px;
    }

    .ui-widget.ui-widget-content {
        padding: 0;
        border: none;
        border-radius: 0;
        width: 100%;
    }

    .ui-datepicker .ui-datepicker-header {
        display: flex;
        width: 100%;
        height: 40px;
        background-color: $color-red-carusel;
        text-align: center;
        align-items: center;
        font-weight: normal;
        font-size: 24px;
        border: none;
        border-radius: 0;
        padding: 0;
        color: white;

        span.ui-datepicker-month {
            font-family: 'Conv_Lato';
            font-weight: 300;
            font-size: 24px;            
        }

        span.ui-datepicker-year {
            display: none;
        }

        .ui-datepicker-title {
            flex: 4;
        }
        a > span {
            display: none;
        }

        .ui-state-hover {
            background: none;
            border: none;
        }

        .ui-datepicker-prev-hover {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 1.8em;
            height: 1.8em;
        }

        .ui-datepicker-next-hover {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 1.8em;
            height: 1.8em;
        }
        
        .ui-datepicker-prev {
            top: 0px;
            height: 40px;
            background: url('~img/arrow.png') 50% 50% no-repeat;
            background-size: 18px;
            cursor: pointer;
        }
        
        .ui-datepicker-next {
            top: 0px;
            height: 40px;
            background: url('~img/arrow.png') 50% 50% no-repeat;
            background-size: 18px;
            cursor: pointer;
            transform: rotate(180deg);
        }
    }

    .ui-datepicker table {
        border-spacing: 0px;
        margin: 0;

        thead {
            height: 29px;
            background-color: $color-red;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid white;

            span {
                font-family: 'Conv_Lato';
                color: white;
                font-weight: normal;
                font-size: 10px;
                text-transform: uppercase;

            }
        }

        .ui-state-default {
            border: none;
            text-align: center;
            font-family: 'Conv_Lato';
            color: $color-grey;
            font-weight: normal;
            font-size: 18px;
            background-color: $color-grey-light;
            height: 29px;
            padding: 0;
            padding-top: 7px;
        }

        .ui-state-active {
            color: white;
            background-color: $color-red;
            opacity: 1;
        }
        
        .ui-state-disabled {
            background-color: $color-grey-light;
            opacity: 1;

            span {
                color: white;
            }
        }

        td {
            width: 40px;
            background-color: $color-grey-light;
            border: 2px solid white;
            border-collapse: collapse;
        }
    }

    .ui-datepicker .ui-datepicker-buttonpane {
        display: block;
        width: 280px;
        height: 50px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 18px;
        padding-left: 22px;
        border-radius: 0px 0px 5px 5px;
        margin: 0;
        padding: 0;

        button.ui-datepicker-current {
            background-color: $color-lightgray;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            padding-top: 10px;
            padding-left: 20px;
            border: none;
            outline: none;
        }
    }
}