@import "../../scss/constants.scss";

.calendar {
    width: 17.5rem;
    color: white;
    border-radius: 0.3rem;
    user-select: none;

    &__date {
        width: 100%;
        height: 5.625rem;
        background-color: $color-red;
        font-weight: 300;
        font-size: 5rem;
        text-align: center;
        padding-top: 1rem;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .ui-widget.ui-widget-content {
        padding: 0;
        border: none;
        border-radius: 0;
        width: 100%;
    }

    .ui-datepicker .ui-datepicker-header {
        display: flex;
        width: 100%;
        height: 2.5rem;
        background-color: $color-red-carusel;
        text-align: center;
        align-items: center;
        font-weight: normal;
        font-size: 1.5rem;
        border: none;
        border-radius: 0;
        padding: 0;
        color: white;

        span.ui-datepicker-month {
            font-family: 'Conv_Lato';
            font-weight: 300;
            font-size: 1.5rem;            
        }

        span.ui-datepicker-year {
            display: none;
        }

        .ui-datepicker-title {
            flex: 4;
        }
        a > span {
            display: none;
        }

        .ui-state-hover {
            background: none;
            border: none;
        }

        .ui-datepicker-prev-hover {
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            width: 1.8em;
            height: 1.8em;
        }

        .ui-datepicker-next-hover {
            position: absolute;
            top: 0.125rem;
            right: 0.125rem;
            width: 1.8em;
            height: 1.8em;
        }
        
        .ui-datepicker-prev {
            top: 0;
            height: 2.5rem;
            background: url('~img/arrow.png') 50% 50% no-repeat;
            background-size: 1.125rem;
            cursor: pointer;
        }
        
        .ui-datepicker-next {
            top: 0;
            height: 2.5rem;
            background: url('~img/arrow.png') 50% 50% no-repeat;
            background-size: 1.125rem;
            cursor: pointer;
            transform: rotate(180deg);
        }
    }

    .ui-datepicker table {
        border-spacing: 0;
        margin: 0;

        thead {
            height: 1.8rem;
            background-color: $color-red;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            border-bottom: 0.06rem solid white;

            span {
                font-family: 'Conv_Lato';
                color: white;
                font-weight: normal;
                font-size: 0.625rem;
                text-transform: uppercase;

            }
        }

        .ui-state-default {
            border: none;
            text-align: center;
            font-family: 'Conv_Lato';
            color: $color-grey;
            font-weight: normal;
            font-size: 1.125rem;
            background-color: $color-grey-light;
            height: 1.8rem;
            padding: 0;
            padding-top: 0.44rem;
        }

        .ui-state-active {
            color: white;
            background-color: $color-red;
            opacity: 1;
        }
        
        .ui-state-disabled {
            background-color: $color-grey-light;
            opacity: 1;

            span {
                color: white;
            }
        }

        td {
            width: 2.5rem;
            background-color: $color-grey-light;
            border: 0.125rem solid white;
            border-collapse: collapse;
        }
    }

    .ui-datepicker .ui-datepicker-buttonpane {
        display: block;
        width: 17.5rem;
        height: 3.125rem;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: bold;
        font-size: 0.88rem;
        text-transform: uppercase;
        padding-top: 1.125rem;
        padding-left: 1.375rem;
        border-radius: 0 0 0.3rem 0.3rem;
        margin: 0;
        padding: 0;

        button.ui-datepicker-current {
            background-color: $color-lightgray;
            font-weight: bold;
            font-size: 0.88rem;
            text-transform: uppercase;
            padding-top: 0.625rem;
            padding-left: 1.25rem;
            border: none;
            outline: none;
        }
    }
}