$color-green: #4eb7a8;
$color-green-shadow: #28a290;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;

.calendar {
    // display: block;
    width: 95%;
    color: white;
    border-radius: 5px;
}
.date {
    width: 100%;
    height: 90px;
    background-color: $color-red;
    font-family: 'Conv_Lato-Regular';
    font-size: 72px;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px 5px 0px 0px;
}
.month-carusel {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: $color-red-shadow;
    text-align: center;
    align-items: center;
    .month-left, .month, .month-right {
        font-family: 'Conv_Lato-Regular';
        font-size: 24px;
    }
    .month-left, .month-right {
        flex: 1;
        i {
            font-size: 32px;
        }
    }
    .month {
        flex: 4;
    }
}
.week {
    width: 100%;
    height: 30px;
    background-color: $color-red;
    font-family: 'Conv_Lato-Regular';
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendar-row {
    background-color: $color-lightgray;
    font-family: 'Conv_Lato-Regular';
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .day {
        width: 20px;
        height: 20px;
        &.inn {
            color: $color-grey;
        }
    }
}
