.search {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
        
    &__input {
        display: block;
        margin: 4px 0px;
        flex: 1 auto;
        height: 28px;
        border-radius: 3px 0px 0px 3px;
        border: 0px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: normal;
        font-size: 13px;
        padding-left: 12px;
        outline: none;

        &_not-found {
            background-color: $color-red;

            &::placeholder {
                color: white;
                opacity: 1;
            }
        }
    }
    
    &__button {
        display: block;
        flex: 0 33px;
        margin: 4px 0px;
        height: 22px;
        border-radius: 0px 3px 3px 0px;
        border: 0px;
        color: white;
        font-weight: normal;
        font-size: 12px;
        outline: none;
        text-align: center;
        padding-top: 6px;
    }

    &__icon {
        font-size: 18px;
    }

    &__button-red {
        background-color: $color-red;    
    }

    &__button-green {
        background-color: $color-green;
    }
}