@import "../../scss/constants.scss";

.event {
    display: block;
    width: 18.125rem;
    height: 13.25rem;
    background-color: $color-green;
    border-radius: 0.3125rem;
    font-weight: normal;
    color: white;

    &__img {
        display: block;
        float: left;
        width: 5.94rem;
        height: 100%;
        border-radius: 0.3125rem 0 0 0.3125rem;
    }

    &__content {
        display: block;
        margin-left: 6.5625rem;
        padding: 0.625rem;
    }

    &__date {
        display: inline-block;
        font-size: 4.5rem;       
        font-weight: 300;
    }

    &__month {
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
    }

    &__header {
        margin-top: 0.3125rem;
        display: block;
        font-size: 0.75rem;
        text-transform: uppercase; 
        letter-spacing: 0.06rem;
    }        

    &__text {
        display: block;
        margin-top: 0.3125rem;
        font-size: 0.75rem;
    }
        
    &__btn {
        margin-top: 0.8125rem;
        margin-left: 0.75rem;
        width: 8.125rem;
        height: 1.44rem;
        letter-spacing: 0;
        font-size: 0.6875rem;
        font-weight: bold;
        border-radius: 0.25rem;
    }
}