$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;
.form-input {
    display: flex;
    position: relative;
    &__text {
        flex: 8;
        margin: 5px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-family: inherit;
        font-weight: normal;
        font-size: 14px;
        padding-left: 12px;
    }
    &__button {
        position: relative;
        flex: 3;
        margin: 5px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        color: white;
        font-family: inherit;
        font-weight: normal;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_red {
            background-color: $color-red;  
        }

        &_green {
            background-color: $color-green;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: inherit;   
            top: 12px;
            left: -3px;
            width: 6px;
            height: 6px;
            transform: rotate(-45deg);
        }
    }
}
