mixin form-input(placeholder, btntext, btncolor)
    .form-input
        input.form-input__text(type="text" placeholder=placeholder)
        .form-input__button(type="button", class=`form-input__button_${btncolor}`)
            .form-input__button-text= btntext
