include ../components/header/header
include ../components/form-input/form-input
include ../components/form-textarea/form-textarea
include ../components/form-toggle/form-toggle
include ../components/tick/tick

mixin forms({header,inputs,textarea,toggles,ticks})
    .forms
        header.forms__header 
            +header(header)
        form.forms__form(action="" method="get")
            ul.forms__form_left
                each input in inputs
                    li.forms__item
                        +form-input(input.placeholder, input.reg, input.success, input.error)
                li.forms__item
                    +form-textarea(textarea.placeholder, textarea.cols, textarea.rows)
            ul.forms__form_right
                li.forms__item
                    .toggles
                        header.toggles__header 
                            +header(toggles.header)
                        .toggles_left
                            +form-toggle(toggles.left)
                        .toggles_right
                            +form-toggle(toggles.right)
                li.forms__item
                    .ticks
                        header.ticks__header 
                            +header(ticks.header)
                        .ticks_left
                            +tick(ticks.left)
                        .ticks_right
                            +tick(ticks.right)