
.forms {
    min-height: 20.5rem;

    &__header {
        padding-top: 3.4rem;
        margin-bottom: 1.5625rem;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;

        &_left {
            min-width: 18.75rem;
            padding-left: 0;
            padding-bottom: 1.25rem;
        }

        &_right {
            padding: 0.25rem 5%;
            width: 14.375rem;
            min-width: 6.25rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 6.125rem 5rem;
            grid-gap: 0.94rem;
            justify-items: center;
            align-items: start;
        }
    }

    &__item {
        list-style-type: none;
    }
}

.toggles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.1875rem 2.8125rem;
    grid-gap: 0.94rem;
    justify-items: center;
    align-items: start;
    grid-template-areas: 
        "toggle-header toggle-header"
        "toggle-left toggle-right";

    &__header {
        grid-area: toggle-header;
    }

    &_left {
        grid-area: toggle-left;
        justify-self: right;
    }

    &_right {
        grid-area: toggle-right;
        justify-self: left;
    }
}

.ticks { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.1875rem 1.875rem;
    grid-gap: 0.94rem;
    grid-column-gap: 1.25rem;
    justify-items: center;
    align-items: start;
    grid-template-areas: 
        "tick-header tick-header" 
        "tick-left tick-right";

    &__header {
        grid-area: tick-header;
    }

    &_left {
        grid-area: tick-left;
        justify-self: right;
    }

    &_right {
        grid-area: tick-right;
        justify-self: left;
    }
}
