
mixin form-textarea(placeholder, cols, rows)
    .form-textarea
        .form-textarea__wrapper
            textarea.form-textarea__text(placeholder=placeholder, cols=cols, rows=rows)
            .form-textarea__btn
                +button('submit', ['green'])