
@import '../components/stage/stage';


.stages {
    height: 6.875rem;
    padding-top: 1.25rem;

    &__header {
        margin-bottom: 1.56rem;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}