$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.steps {
    width: 100%;
    display: table;
    font-family: 'Conv_Lato-Black';
}
.first {
    width: 0px;
    .svg-stage {
        margin-left: -15px;
    }
}
.step {
    display: table-cell;
    text-align: right;
    &.act {
        border-top: 5px solid $color-red;
    }
    &.pas {
        border-top: 5px solid $color-lightgray;
    }
}
.svg-stage {
    width: 30px;
    height: auto;
    margin-right: -15px;
    margin-top: -18px;
}
.act .text {
    font-family: 'Conv_Lato-Black';
    fill: white;
}
.act .round {
    fill: $color-red;
}
.pas .text {
    font-family: 'Conv_Lato-Black';
    fill: $color-grey;
}
.pas .round {
    fill: $color-lightgray;
}