include ../header/header
include ../stage/stage

mixin stages({header,steps,passed})
    .stages
        .stages__header 
            +header(header)
        .stages__content
            +stage(steps,passed)