mixin messaging(user, img, message1, message2)
    .messaging
        .messaging__header= user
        .messaging__hr
            .messaging__icons
                i.material-icons= "mode_comment"
                i.material-icons= "local_see"
        .messaging__body
            img.messaging__user-photo(src="img/"+img+".png", alt="no image")
            .messaging__message1= message1
            textarea(rows="3" cols="27").messaging__message2= message2
            +button('reply', ['green'])