
@import '../components/calendar/calendar';
@import '../components/messaging/messaging';

.calendar-messaging-row {
    min-height: 33rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    &__header {
        padding-top: 1.25rem;
        margin: 0;
        margin-bottom: 1.44rem;
        letter-spacing: 0.06rem;
    }

    &__calendar {
        max-width: 17.5rem;
    }

    &__messaging {
        max-width: 18.125rem;
    }
}
