
mixin stage(stages,stage)
    .stage
        .stage__circle.stage__circle_active
            .stage__text.stage__text_active= 1
        - for (var i = 2; i <= stages; i++)
            if i <= stage
                .stage__line.stage__line_active
                .stage__circle.stage__circle_active
                    .stage__text.stage__text_active= i
            else
                .stage__line
                .stage__circle
                    .stage__text= i
