
mixin stage(stages,stage)
    .stage
        - for (let currentStage = 1; currentStage <= stages; currentStage++)
            if currentStage <= stage
                .stage__line.stage__line_active
                .stage__circle.stage__circle_active
                    .stage__text.stage__text_active= currentStage
            else
                .stage__line
                .stage__circle
                    .stage__text= currentStage
