- var viewbox="0 0 30 30"
- var cx="15" 
- var cy="15" 
- var r="14"
- var x="15" 
- var y="20" 
- var text="middle" 
- var font="15"

mixin stage(stages,stage)
    .stage
        .stage__circle.stage__circle_active
            .stage__text.stage__text_active= 1
        - for (var i = 2; i <= stages; i++)
            if i <= stage
                .stage__line.stage__line_active
                .stage__circle.stage__circle_active
                    .stage__text.stage__text_active= i
            else
                .stage__line
                .stage__circle
                    .stage__text= i
