$color-grey-light: #f2f2f2;
$color-lightgray: #e5e5e5;

.video {
    position: relative;
    width: 640px;
    text-align: center;
    color: $color-lightgray;
    user-select: none;
    margin: 0 auto;
}