$color-green: #4eb7a8;

.arrow-button {
    cursor: pointer;
    outline: none;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 0.2rem solid $color-green;
    color: $color-green;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .material-icons {
        font-size: 2.625rem;
        align-self: center;
        vertical-align: middle;
    }

    &:hover {
        background-color: $color-green;
        color: white;
    }

    &_disabled {
        cursor: default;
        border: 0;
        background-color: #e5e5e5;
        color: white;

        &:hover {
            background-color: #e5e5e5;
            color: white;
        }
    }
}