
//- btnclass can be disabled

mixin arrow-button(btnlabel, btnclasses)
    - var btnClassString = `arrow-button`
    each btnclass in btnclasses
        - btnClassString = `${btnClassString} arrow-button_${btnclass}`
    
    button(class=btnClassString)
         i.material-icons= btnlabel
    