@import "../../scss/constants.scss";

.search {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
        
    &__input {
        display: block;
        margin: 0.25rem 0;
        flex: 1 auto;
        height: 1.75rem;
        border-radius: 0.1875rem 0 0 0.1875rem;
        border: 0;
        background-color: $color-lightgray;
        color: $color-grey;
        font-weight: normal;
        font-size: 0.8125rem;
        padding-left: 0.75rem;
        outline: none;

        &_not-found {
            background-color: $color-red;
            color: white;
            opacity: 1;
        }
    }
    
    &__button {
        display: block;
        flex: 0 2.06rem;
        margin: 0.25rem 0;
        height: 1.75rem;
        border-radius: 0 0.1875rem 0.1875rem 0;
        border: 0;
        color: white;
        font-weight: normal;
        font-size: 0.75rem;
        outline: none;
        text-align: center;
        background-color: $color-red; 
    }

    &__icon {
        font-size: 1.125rem;
    }
}
