mixin search(placeholder, error)
    .search
        input.search__input(placeholder=placeholder data-error=error)
        button.search__button
            i(class="material-icons icons-size search__icon")= 'search'
