mixin news(header, date, text, img)
    a(href="")
        .news-block
            img(src="img/"+img+".png", alt="no img")
            .news-content
                .news-header= header
                .news-date= date
                .news-text= text