.event-block {
    display: block;
    // margin-top: 0;
    // top: 30px;
    // margin: 5px;
    width: 290px;
    height: 212px;
    background-color: $color-green;
    border-radius: 5px;
    font-weight: normal;
    color: white;
    img {
        display: block;
        float: left;
        width: 95px;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
    }
    .event-content {
        display: block;
        margin-left: 105px;
        padding: 10px;
        .big-date {
            .event-date {
                display: inline-block;
                font-size: 72px;       
            }
            .event-month {
                display: inline-block;
                font-size: 32px;
            }
        }
        .event-header {
            margin-top: 5px;
            display: block;
            font-size: 12px;
            text-transform: uppercase; 
            letter-spacing: 1px;
        }        
        .event-text {
            display: block;
            margin-top: 5px;
            font-size: 12px;
        }
        .event-button {
            margin-top: 13px;
            margin-left: 12px;
            .btn {
                width: 130px;
                height: 23px;
                font-size: 10px;
                letter-spacing: 1px;
            }
        }
    }
}