mixin event(header, date, month , text, img)
    .event
        img.event__img(src="img/"+img+".png", alt="no img")
        .event__content
            .event__date= date
            .event__month= month
            .event__header= header            
            .event__text= text
            .event__button
                +button('add to calendar', ['green', 'small'])