
.sliders {
    min-height: 8rem;

    &__header {
        padding-top: 1.5rem;
        margin-bottom: 2.81rem;
    }

    &__content {
        display: flex;
        margin: 0 auto;
        max-width: 36.875rem;
        align-items: flex-start;
        justify-content: space-between;

        .sliderm3 {
            font-size: 0.81rem;
            font-weight: normal;
        }
    }
}