
mixin slider1(value)
    div.slider-1
        input(class="range-example-input" type="text" min="0" max="100" value=value name="points" step="1")
        
mixin slider2(value)
    div.slider-2
        input(class="range-example-input" type="text" min="0" max="100" value=value name="points" step="0.1")
        div.scale
            div.digit 0
            div.digit 25
            div.digit 50
            div.digit 75
            div.digit 100
        