include ../components/header/header
include ../components/sliderm3/sliderm3

mixin sliders({header, sliders})
    .sliders
        header.sliders__header 
            +header(header)
        .sliders__content                
            each slider in sliders
                +sliderm3(slider.min, slider.max, slider.value1, slider.value2, 
                    slider.step, slider.intervals, slider.hint, slider.scale, 
                    slider.interval, slider.vertical, slider.length, slider.lineHeight, 
                    slider.pointSize, slider.colorLine, slider.colorRange, 
                    slider.colorPoint, slider.colorScale, slider.colorText)
                