$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.slider-1 {
    height: 40px;
    .asRange {
        width: 275px !important;
    }
    .asRange, .asRange-selected {
        height: 5px !important;
        background-color: $color-lightgray !important;
    }
    .asRange-pointer {
        outline: none !important;
    }
    .asRange-tip, .asRange-tip::before, .asRange-pointer::before, .asRange-pointer::after {
        background-color: $color-red !important;
        border-color: $color-red !important;
    }
    .asRange-pointer::before {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        margin-left: -2px !important;
        margin-top: -2px !important;
    }
    .asRange-pointer {
        margin-left: -2px !important;
        margin-top: -2px !important;
    }
    .asRange-tip{
        font-family: 'Conv_Lato-Black' !important;
        font-size: 14px !important;
        width: 30px !important;
        height: 20px !important;
        margin-left: -12px !important;
        margin-top: -4px !important;
        padding-top: 2px;
    }
}

.slider-2 {
    height: 40px;
    .asRange {
        display: block;
        width: 275px !important;
    }
    .asRange {
        height: 5px !important;
        background-color: $color-lightgray !important;
    }
    .asRange-selected {
        height: 5px !important;
        background-color: $color-green !important;
    }
    .asRange-pointer {
        outline: none !important;
    }
    .asRange-tip, .asRange-tip::before, .asRange-pointer::before, .asRange-pointer::after {
        background-color: $color-green !important;
        border-color: $color-green !important;
    }
    .asRange-pointer::before {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        margin-left: -2px !important;
        margin-top: -2px !important;
    }
    .asRange-pointer {
        margin-left: -2px !important;
        margin-top: -2px !important;
    }
    .asRange-tip{
        // font-family: 'Conv_Lato-Black' !important;
        // font-size: 14px !important;
        // width: 30px !important;
        // height: 20px !important;
        // margin-left: -12px !important;
        // margin-top: -4px !important;
        // padding-top: 2px;
        display: none;
    }
    .scale {
        display: flex;
        justify-content: space-between;
        width: 290px;
        .digit {
            display: inline-block;
            font-family: 'Conv_Lato-Black';
            font-size: 12px;
            color: $color-lightgray;
            margin-top: 10px;
        }
    }
}