include ../header/header
include ../sliderm2/sliderm2

mixin sliders({header, sliders})
    .sliders
        .sliders__header 
            +header(header)
        .sliders__content
            each s in sliders
                +sliderm2(s.min, s.max, s.value1, s.value2, s.step, s.intervals, s.hint, s.scale, s.interval, s.vertical, s.length, s.lineHeight, s.pointSize, s.colorLine, s.colorPoint, s.colorScale, s.colorText)