mixin form-input(placeholder, reg, success, error)
    .form-input
        input.form-input__text.js-form-input__text(placeholder=placeholder data-reg=reg data-success=success data-error=error)
        .form-input__button.js-form-input__button
