$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.form-input {
    display: flex;

    &__text {
        flex: 8;
        margin: 5px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        background-color: $color-lightgray;
        color: $color-grey;
        font-family: inherit;
        font-weight: normal;
        font-size: 14px;
        padding-left: 12px;
        outline: none;
    }

    &__button {
        position: relative;
        flex: 3;
        margin: 5px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        color: white;
        font-family: inherit;
        font-weight: normal;
        font-size: 10px;
        letter-spacing: 1px;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $color-green;

        &_error {
            background-color: $color-red;  
        }

        &_visible {
            display: flex;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: inherit;   
            top: 12px;
            left: -2px;
            width: 6px;
            height: 6px;
            transform: rotate(-45deg);
        }
    }
}
