mixin video(video)
    .video
        iframe(src="https://player.vimeo.com/video/"+video+"?color=e75735&title=1&byline=1&portrait=0" width="600" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        //- .video-title New Zealand Landscapes Timelapse
        //- .video-from from Bevan Percival
        //- .video-url https://vimeo.com/62980495
        