.news {
    display: block;
    width: 290px;
    height: 212px;
    background-color: $color-red;
    border-radius: 5px;
    font-weight: normal;
    color: white;

    &__img {
        display: block;
        float: left;
        width: 95px;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
    }

    &__content {
        display: block;
        margin-left: 110px;
        padding: 10px;
    }

    &__header {
        margin-top: 10px;
        display: block;
        font-size: 26px;
        font-weight: 300;
    }

    &__date {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        text-transform: uppercase;        
    }
    
    &__text {
        display: block;
        margin-top: 10px;
        font-size: 12px;
    }
}