$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;
$color-green-shadow: #28a290;
$color-red-shadow: #bf3e1f;
$color-grey-light: #f2f2f2;

.news {
    display: block;
    width: 18.125rem;
    height: 13.25rem;
    background-color: $color-red;
    border-radius: 0.3125rem;
    font-weight: normal;
    color: white;

    &__img {
        display: block;
        float: left;
        width: 5.94rem;
        height: 100%;
        border-radius: 0.3125rem 0 0 0.3125rem;
    }

    &__content {
        display: block;
        margin-left: 6.875rem;
        padding: 0.625rem;
    }

    &__header {
        margin-top: 0.625rem;
        display: block;
        font-size: 1.625rem;
        font-weight: 300;
    }

    &__date {
        display: block;
        margin-top: 0.3125rem;
        font-size: 0.75rem;
        text-transform: uppercase;        
    }
    
    &__text {
        display: block;
        margin-top: 0.625rem;
        font-size: 0.75rem;
    }
}