.user-card {
    display: block;
    width: 16.875rem;
    height: 5.94rem;
    
    &__photo {
        display: block;
        float: left;
        border-radius: 50%;
        border: 0.3125rem solid $color-lightgray;
        margin: 0;
    }

    &__panel {
        display: block;
        float: right;
        width: 10.3125rem;
        height: 5.94rem;
        background-color: $color-lightgray;
        border-radius: 0.3125rem;
        position: relative;
        text-align: center;
    
        &::before {
            content: "";
            position: absolute;
            width: 0.625rem;
            height: 0.625rem;
            background-color: $color-lightgray;
            transform: rotate(45deg);
            top: 2.56rem;
            left: -0.25rem;
        }

        &_green {
            background-color: $color-green;
            color: white;

            &::before {
                background-color: $color-green;
            }
        }
    }

    &__name {
        font-weight: normal;
        margin: 0;
        margin-top: 0.625rem;
        color: $color-red;
        font-size: 1.125rem;
    }

    &__prof {
        margin: 0;
        text-transform: uppercase;
        color: $color-grey;
        font-size: 0.625rem;
        letter-spacing: 0.06rem;
    }

    &__socials {
        margin: 0.625rem auto;
        i {
            font-size: 1.75rem;
            letter-spacing: 0.625rem;
            margin-left: 0.5rem;
            color: $color-grey;
            
            &.ion-logo-twitter {
                color: $color-red;                
            }
        }
    }    

    &__name_green,
    &__prof_green,
    &__socials_green {
        color: white;

        i {
            color: inherit;

            &.ion-logo-twitter {
                color: inherit;               
            }
        }
    }
}
