
include /flatUI/flatUI

- var dataJson = require('./data.json');

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=500, initial-scale=1")
    title flatUI
    link(href="img/favicon.ico" rel="icon" type="image/x-icon")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    +flatUI(dataJson)

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="main.js")