include /buttons/buttons
include /percentages/percentages
include /sliders/sliders
include /sliderm/sliderm
include /stages/stages
include /forms/forms
include /search/search
include /user/user
include /news/news
include /event/event
include /maps/maps
include /calendar/calendar
include /messaging/messaging
include /video/video

html
  head
    meta(charset='UTF-8')
    title flatUI
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    div.header standard buttons
    div.content
      +button('button', 'green small')
      +button('button', 'green')
      +button('button', 'red')
      +button('button', 'red small')
    div.content
      +button('button', 'green small disable')
      +button('button', 'green disable')
      +button('button', 'red disable')
      +button('button', 'red small disable')

    div.header.header-arrow-buttons arrow buttons
    div.content.content-arrow-buttons
      +button('<', 'arrow')
      +button('>', 'arrow')
      +button('<', 'arrow disable')
      +button('>', 'arrow disable')
      +button('<', 'arrow')
      +button('>', 'arrow')

    div.header.header-percentages percentages/pie chart
    div.content.content-percentages
      +percentage(0)
      +percentage(38)
      +percentage(62)
      +percentage(89)
      +percentage4list(10,25,30,115)

    div.header.header-sliders sliders
    div.content.content-sliders
      +slider1(40)
      +slider2(75)
  
    div.header.header-sliders sliderm
    div.content.content-sliders
      //- sliderm(value, min, max, step, scale-intervals, hint, scale)
      +sliderm(130, 80, 1000, 10, 4, 'active', '')
      +sliderm(72, 9, 126, 3, 9, '', 'active')

    div.header.header-stages stages
    div.content.content-stages
      +stage(5,3)

    div.header.header-forms form elements
    div.content.content-forms
      +form
    
    div.content.search-profile
      .content-left
        .content-block.center
          .header.header-search search/drop down
        +search-input('Search', 'red')
        +search-input('I\'ve not found what I\'m looking for...', 'red', 'not-found')
        +dropdown-input('Choose An Option', 'green', ['This is option 1','This is option 2','This is option 3','This is option 4'])
      .content-right
        .content-block.center
          .header.header-user user profile
        +user-card('john', 'John Smith', 'ux designer')
        +user-card('sarah', 'Sarah Brown', 'developer', 'user-green')
    
    div.header.header-news news & events
    div.content.content-news
      .news-left
        +news("It's all going downhill", "24 august 2013", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.", "velo", "2.html")
      .news-right
        +event("this is the title", "24", "Aug", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "city")

    div.header.header-location location
    div.content.content-location
      +map(37.791235, -122.414842)

    div.content.content-calendar
      .content-left
        .content-block.center
          .header.header-calendar calendar
        //- calendar(date, month, firstdayinweek, daysinmonth)
        +calendar(24,'september', 4, 30)
      .content-right
        .content-block.center
          .header.header-messaging messaging
        +messaging('Sarah Brown', 'sarah', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')

    div.header.header-video video
    div.content.content-video
      +video('62980495')

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/jquery-asRange.min.js")
    link(rel="stylesheet" href="css/asRange.css")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/jquery-asRange.min.js")
    //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/css/asRange.css")
    script(src="main.js")