
include /flatUI/flatUI

- var dataJson = require('./data.json');

html
  head
    meta(charset='UTF-8')
    title flatUI
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    +flatUI(dataJson)

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    script(src="main.js")