include /buttons/buttons
include /percentages/percentages
include /sectors/sectors
include /sliderm2/sliderm2
include /stages/stages
include /form-input/form-input
include /form-textarea/form-textarea
include /form-toggle/form-toggle
include /tick/tick
include /search/search
include /dropdown/dropdown
include /user-card/user-card
include /news/news
include /event/event
include /maps/maps
include /calendar/calendar
include /messaging/messaging
include /video/video

html
  head
    meta(charset='UTF-8')
    title flatUI
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    .wrapper
      .buttons
        header.header.buttons__header standard buttons
        .content.buttons__content
          +button('button', ['theme_green', 'small'])
          +button('button', ['theme_green'])
          +button('button', ['theme_red'])
          +button('button', ['theme_red', 'small'])
        .content.buttons__content
          +button('button', ['theme_green', 'small', 'disabled'])
          +button('button', ['theme_green', 'disabled'])
          +button('button', ['theme_red', 'disabled'])
          +button('button', ['theme_red', 'small', 'disabled'])

      .arrow-buttons
        header.header.arrow-buttons__header arrow buttons
        .content.arrow-buttons__content
          +button('<', ['arrow'])
          +button('>', ['arrow'])
          +button('<', ['arrow', 'disabled'])
          +button('>', ['arrow', 'disabled'])
          +button('<', ['arrow'])
          +button('>', ['arrow'])

      .percentages
        header.header.percentages__header percentages / pie chart
        .content.percentages__content
          +percentage(0)
          +percentage(38)
          +percentage(62)
          +percentage(89)
          +sectors(10,25,30,115)

      .sliders
        header.header.sliders__header sliders
        .content.sliders__content
          //- sliderm2(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
          //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
          +sliderm2(0, 100, 40, 40, 5, 3, 'tick_active', '', 'tick_active', '', 200, 5, 20, '#e6e6e6', '#e75735', 'lightgrey', 'white')
          +sliderm2(0, 100, 0, 75, 1, 4, '', 'tick_active', '', '', 200, 5, 20, '#e6e6e6', '#4eb7a8', 'lightgrey', 'white')
    
      .stages
        header.header.stages__header stages
        .content.stages__content
          +stage(5,3)

      .forms
        header.header.forms__header form elements
        .content
          form.forms__form(action="", method="get")
            .forms__form_left
              +form-input('Your Name', 'ERROR', 'red')
              +form-input('Your Email', 'THANKS!', 'green')
              +form-textarea("Your Message", "30", "4")
            .forms__form_right
              .toggles
                .header.toggles__header toggles
                .toggles_left
                  +form-toggle("check-1","4",false)
                .toggles_right
                  +form-toggle("check-3","6",true)
              .ticks
                .header.ticks__header tick boxes
                .ticks_left
                  +tick('tick_active')
                .ticks_right
                  +tick('')
      
      .search-profile-row
        .searches
          header.header.searches__header search / drop down
          .searches__content
            +search('Search', 'red')
          .searches__content
            +search('I\'ve not found what I\'m looking for...', 'red', 'not-found')
          .searches__content
            +dropdown('Choose An Option', 'green', ['This is option 1','This is option 2','This is option 3','This is option 4'])
        .profiles
          header.header.profiles__header user profile
          .profiles__item
            +user-card('john', 'John Smith', 'ux designer',"","3.html","3.html","3.html")
          .profiles__item
            +user-card('sarah', 'Sarah Brown', 'developer', 'green',"3.html","3.html","3.html")
      
      .news-events-row
        header.header.news-events-row__header news & events
        .news-events-row__content
          .news-events-row__item
            +news("It's all going downhill", "24 august 2013", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.", "velo", "2.html")
          .news-events-row__item
            +event("this is the title", "24", "Aug", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "city")

      .location
        header.header.location__header location
        .content.location__content
          +map(37.791235, -122.414842)

      .calendar-messaging-row
        .calendar-messaging-row__calendar
          header.header.calendar-messaging-row__header calendar
          //- calendar(date, month, firstdayinweek, daysinmonth)
          +calendar(24,'september', 4, 30)
        .calendar-messaging-row__messaging
          header.header.calendar-messaging-row__header messaging
          +messaging('Sarah Brown', 'sarah', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')

      .video-row
        header.header.video-row__header video
        .content.video-row__content
          +video('62980495')

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    script(src="main.js")