include /buttons/buttons
include /percentages/percentages
include /sliders/sliders
include /stages/stages
include /forms/forms
include /search/search

html
  head
    meta(charset='UTF-8')
    title flatUI
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    div.header standard buttons
    div.content
      +button('button', 'green small')
      +button('button', 'green')
      +button('button', 'red')
      +button('button', 'red small')
    div.content
      +button('button', 'green small disable')
      +button('button', 'green disable')
      +button('button', 'red disable')
      +button('button', 'red small disable')

    div.header.header-arrow-buttons arrow buttons
    div.content.content-arrow-buttons
      +button('<', 'arrow')
      +button('>', 'arrow')
      +button('<', 'arrow disable')
      +button('>', 'arrow disable')
      +button('<', 'arrow')
      +button('>', 'arrow')

    div.header.header-percentages percentages/pie chart
    div.content.content-percentages
      +percentage(0)
      +percentage(38)
      +percentage(62)
      +percentage(89)
      +percentage4list(10,25,30)

    div.header.header-sliders sliders
    div.content.content-sliders
      +slider1(40)
      +slider2(75)

    div.header.header-stages stages
    div.content.content-stages
      +stage(5,3)

    div.header.header-forms form elements
    div.content.content-forms
      +form
    
    div.content.search-profile
      .form-left
        .form-block.center
          .header.header-informs search/drop down
        +search
      .form-right
        .form-block.center
          .header.header-informs user profile
        .form-block.center
      
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/jquery-asRange.min.js")
    link(rel="stylesheet" href="css/asRange.css")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    //- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    //- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/jquery-asRange.min.js")
    //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/css/asRange.css")
    script(src="main.js")