include /buttons/buttons
include /percentages/percentages
include /percentages/percentage4list
include /sliderm2/sliderm2
include /stages/stages
include /forms/form-input
include /forms/form-textarea
include /forms/form-toggle
include /tick/tick
include /search/search
include /dropdown/dropdown
include /user/user
include /news/news
include /event/event
include /maps/maps
include /calendar/calendar
include /messaging/messaging
include /video/video

html
  head
    meta(charset='UTF-8')
    title flatUI
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    
  body
    .wrapper
      header.header.header-buttons standard buttons
      div.content.content-buttons
        +button('button', ['green', 'small'])
        +button('button', ['green'])
        +button('button', ['red'])
        +button('button', ['red', 'small'])
      div.content.content-buttons
        +button('button', ['green', 'small', 'disable'])
        +button('button', ['green', 'disable'])
        +button('button', ['red', 'disable'])
        +button('button', ['red', 'small', 'disable'])

      header.header.header-arrow-buttons arrow buttons
      div.content.content-arrow-buttons
        +button('<', ['arrow'])
        +button('>', ['arrow'])
        +button('<', ['arrow', 'disable'])
        +button('>', ['arrow', 'disable'])
        +button('<', ['arrow'])
        +button('>', ['arrow'])

      header.header.header-percentages percentages/pie chart
      div.content.content-percentages
        +percentage(0)
        +percentage(38)
        +percentage(62)
        +percentage(89)
        +percentage4list(10,25,30,115)

      header.header.header-sliders sliders
      div.content.content-sliders
        //- sliderm2(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
        //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
        +sliderm2(0, 100, 40, 40, 5, 3, 'tick_active', '', 'tick_active', '', 200, 5, 20, '#e6e6e6', '#e75735', 'lightgrey', 'white')
        +sliderm2(0, 100, 0, 75, 1, 4, '', 'tick_active', '', '', 200, 5, 20, '#e6e6e6', '#4eb7a8', 'lightgrey', 'white')

      header.header.header-stages stages
      div.content.content-stages
        +stage(5,3)

      header.header.header-forms form elements
      div.content.content-forms
        form(action="", method="get")
          .form-left
            +form-input('Your Name', 'ERROR', 'red')
            +form-input('Your Email', 'THANKS!', 'green')
            +form-textarea("Your Message", "30", "4")
          .form-right
            .header.toggle-header toggles
            .toggle-left
              +form-toggle("check-1","4",false)
            .toggle-right
              +form-toggle("check-3","6",true)
            .header.tick-header tick boxes
            .tick-left
              +tick('tick_active')
            .tick-right
              +tick('')
      
      div.content.search-profile
        .search-dropdown
          header.header.header-search search/drop down
          +search('Search', 'red')
          +search('I\'ve not found what I\'m looking for...', 'red', 'not-found')
          +dropdown('Choose An Option', 'green', ['This is option 1','This is option 2','This is option 3','This is option 4'])
        .profile
          header.header.header-user user profile
          +user-card('john', 'John Smith', 'ux designer')
          +user-card('sarah', 'Sarah Brown', 'developer', 'user-green')
      
      header.header.header-news news & events
      div.content.content-news
        .item
          +news("It's all going downhill", "24 august 2013", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.", "velo", "2.html")
        .item
          +event("this is the title", "24", "Aug", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "city")

      header.header.header-location location
      div.content.content-location
        +map(37.791235, -122.414842)

      div.content.calendar-messaging
        .item
          .header.header-calendar calendar
          //- calendar(date, month, firstdayinweek, daysinmonth)
          +calendar(24,'september', 4, 30)
        .item
          .header.header-messaging messaging
          +messaging('Sarah Brown', 'sarah', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')

      header.header.header-video video
      div.content.content-video
        +video('62980495')

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    script(src="main.js")