html
  head
    meta(charset='UTF-8')
    title flatUI
    link(rel="stylesheet" href="style.css")
    //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    div.buttons-header standard buttons
    script(src="main.js")