
$color-green: #4eb7a8;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;
$color-grey: #747474;
$color-lightgray: #e5e5e5;
$color-grey-light: #f2f2f2;
$color-red-carusel: #d54c2c;
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-border: #bbbbbb;
$color-shadow: #bbbbbb;
