@import '../buttons/buttons';

body {
    font-family: 'Conv_Lato-Black';
}
.header {
    display: block;
    font-size: 20px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 83px;
    margin-bottom: 75px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 520px;
    margin: 20px auto;
}

@font-face {
	font-family: 'Conv_Lato-Black';
	src: url('fonts/Lato-Black.eot');
	src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
