@import '../buttons/buttons';
@import '../percentages/percentages';

body {
    font-family: 'Conv_Lato-Black';
}
.header {
    display: block;
    font-size: 20px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 83px;
    margin-bottom: 75px;
    &.header-arrow-buttons {
        margin-top: 110px;
        margin-bottom: 40px;
    }
    &.header-percentages {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 520px;
    margin: 20px auto;
    &.content-arrow-buttons {
        width: 460px;
    }
    &.content-percentages {
        margin-top: 15px;
        width: 680px;
    }
}

@font-face {
	font-family: 'Conv_Lato-Black';
	src: url('fonts/Lato-Black.eot');
	src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Lato-Regular';
	src: url('fonts/Lato-Regular.eot');
	src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}