@import '../buttons/buttons';
@import '../percentages/percentages';
@import '../sliderm2/sliderm2';
@import '../stages/stages';
@import '../form-input/form-input';
@import '../form-textarea/form-textarea';
@import '../form-toggle/form-toggle';
@import '../tick/tick';
@import '../search/search';
@import '../dropdown/dropdown';
@import '../user-card/user-card';
@import '../news/news';
@import '../event/event';
@import '../maps/maps';
@import '../calendar/calendar';
@import '../messaging/messaging';
@import '../video/video';
@import '../html/1';
@import '../html/2';
@import '../html/3';
@import '../html/4';
@import '../html/5';
@import '../html/sliderm2page';
@import '../page-header/page-header';
@import '../footer/footer';


body {
    font-family: 'Conv_Lato';
    font-weight: bold;
    color: #797979;
}

.wrapper {
    display: block;
    max-width: 620px;
    margin: 0 auto;
    padding-top: 55px;
}

.header {
    display: block;
    font-size: 18px;
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0px auto;
}

.buttons{
    height: 268px;
    padding-top: 20px;

    &__header {
        margin-bottom: 70px;
    }

    &__content {
        margin-top: 22px;
        max-width: 490px;
    }
}

.arrow-buttons {
    height: 131px;
    padding-top: 20px;

    &__header {
        margin-bottom: 33px;
    }

    &__content {
        max-width: 445px;
    }
}

.percentages {
    min-height: 156px;
    padding-top: 20px;

    &__header {
        margin-bottom: 15px;
    }

    &__content {
        margin-left: -10px;
        display: flex;
        flex-wrap: wrap;
    }
}

.sliders {
    height: 112px;
    padding-top: 20px;

    &__header {
        margin-bottom: 45px;
    }

    &__content {
        max-width: 590px;
        align-items: flex-start;
        justify-content: space-between;

        .sliderm2 {
            font-size: 13px;
            font-weight: normal;
        }
    }
}

.stages {
    height: 110px;
    padding-top: 20px;

    &__header {
        margin-bottom: 36px;
    }

    &__content {
        max-width: 565px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.forms {
    min-height: 328px;
    padding-top: 20px;

    &__header {
        margin-bottom: 42px;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;

        &_left {
            min-width: 300px;
            padding-bottom: 20px;
        }

        &_right {
            padding: 4px 5%;
            width: 230px;
            min-width: 100px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 98px 80px;
            grid-gap: 15px;
            justify-items: center;
            align-items: start;
        }
    }
}

.toggles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 45px;
    grid-gap: 15px;
    justify-items: center;
    align-items: start;
    grid-template-areas: 
        "toggle-header toggle-header"
        "toggle-left toggle-right";

    &__header {
        grid-area: toggle-header;
    }

    &_left {
        grid-area: toggle-left;
        justify-self: right;
    }

    &_right {
        grid-area: toggle-right;
        justify-self: left;
    }
}

.ticks { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 30px;
    grid-gap: 15px;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: start;
    grid-template-areas: 
        "tick-header tick-header" 
        "tick-left tick-right";

    &__header {
        grid-area: tick-header;
    }

    &_left {
        grid-area: tick-left;
        justify-self: right;
    }

    &_right {
        grid-area: tick-right;
        justify-self: left;
    }
}

.search-profile-row {
    min-height: 338px;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searches {
    width: 50%;
    min-width: 300px;
    padding-bottom: 20px;

    &__header {
        margin: 0px;
        margin-bottom: 14px;
        letter-spacing: 1px;
    }

    &__content {
        margin: 9px 10px;
    }
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    align-items: center;

    &__item {
        margin: 13px;
        margin-left: 29px;
    }

    &__header {
        margin-top: 0px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
}

.news-events-row {
    min-height: 295px;
    padding-top: 20px;

    &__header {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        padding: 10px;
    }
}

.location {
    height: 353px;
    padding-top: 20px;

    &__header {
        margin-bottom: 30px;
    }

    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 600px) {
        &__content {
            transform: scale(0.6);
            height: 190px;
        }

        height: 220px;
    }
}

.calendar-messaging-row {
    min-height: 529px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    &__header {
        padding-top: 20px;
        margin: 0px;
        margin-bottom: 23px;
        letter-spacing: 1px;
    }

    &__calendar {
        max-width: 280px;
    }

    &__messaging {
        max-width: 290px;
    }
}

.video-row {
    height: 450px;
    padding-top: 20px;

    &__header {
        margin-bottom: 10px;
    }

    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 600px) {
        &__content {
            transform: scale(0.6);
            height: 270px;
        }

        height: 300px;
    }
}

a {
    text-decoration-line: none;
    color: inherit;
}

@font-face {
	font-family: 'Conv_Lato';
	src: url('fonts/Lato-Black.eot');
	src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
	font-weight: black;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lato';
	src: url('fonts/Lato-Bold.eot');
	src: local('☺'), url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf') format('truetype'), url('fonts/Lato-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lato';
	src: url('fonts/Lato-Regular.eot');
	src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lato-Light';
	src: url('fonts/Lato-Light.eot');
	src: local('☺'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}
