include ../components/button/button

mixin buttons({header,buttons})
    .buttons
        header.buttons__header
            +header(header)
        - for(var row = 0; row < buttons.length; row++)
            .buttons__content
                - for(var button = 0; button < buttons[row].length; button++)
                    if (buttons[row][button].view.includes('small'))
                        .buttons__btn.buttons__btn_small
                            +button(buttons[row][button].label, buttons[row][button].view)
                    else
                        .buttons__btn
                            +button(buttons[row][button].label, buttons[row][button].view)
                            