$color-green: #4eb7a8;
$color-green-shadow: #28a290;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;

.btn {
    position: relative;
    width: 120px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &_red {
        color: $color-red;
        border: 1px solid $color-red-shadow;
        box-shadow: 0px 3px $color-red-shadow;

        &.btn_small {
            box-shadow: 0px 2px $color-red-shadow;
        }

        &:hover {
            color: white;
            box-shadow: 0px 3px $color-red-shadow;
            background-color: $color-red;
        }
    }

    &_green {
        color: $color-green;
        border: 1px solid $color-green-shadow;
        box-shadow: 0px 3px $color-green-shadow;

        &.btn_small {
            box-shadow: 0px 2px $color-green-shadow;
        }

        &:hover {
            color: white;
            box-shadow: 0px 3px $color-green-shadow;
            background-color: $color-green;
        }
    }

    &_small {
        width: 80px;
        height: 22px;
        font-size: 10px;
        border-radius: 3px;        
    }
    
    &_arrow {
        width: 50px;
        height: 50px;
        font-size: 32px;
        border-radius: 50%;
        border: 3px solid $color-green;
        color: $color-green;
        background-color: white;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .material-icons {
            font-size: 42px;
            align-self: center;
            vertical-align: middle;
        }

        &:hover {
            background-color: $color-green;
            color: white;
        }
    }

    &_disabled {
        cursor: default; 
        border: 0px;
        color: lightgray;
        border: 1px solid lightgray;
        box-shadow: 0 3px lightgray;

        &:hover {
            transform: none;
            background-color: #e5e5e5;
            color: white;
            box-shadow: 0 3px lightgray;
        }

        &.btn_small {
            box-shadow: 0 2px lightgray;

            &:hover {
                box-shadow: 0 2px lightgray;
            }
        }

        &.btn_arrow {
            box-shadow: 0px 0px;
            color: white;
            background-color: #e5e5e5;
        }
    }

    &:active {
        transform: translateY(3px);
        &:not(.btn_disabled) {
            box-shadow: 0px 0px;
        }
        &.btn_disabled {
            transform: translateY(0px);
        }
    }
}

/*  Ripple */

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
  }
  
  .rippleEffect {
      animation: rippleDrop .6s linear;
  }
  
  @keyframes rippleDrop {
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }