include ../components/button/button

mixin buttons({header,buttons})
    .buttons
        header.buttons__header 
            +header(header)
        - for(var row = 0; row < buttons.length; row=row+4)
            .buttons__content
                - for(var i = row; i < row+4; i++)
                    if (i%4==0 || i%4==3) 
                        .buttons__btn.buttons__btn_small
                            +button(buttons[i].label, buttons[i].view)
                    else
                        .buttons__btn
                            +button(buttons[i].label, buttons[i].view)
                    