$color-green: #4eb7a8;
$color-green-shadow: #28a290;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;

.btn {
    position: relative;
    width: 120px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.red {
    color: $color-red;
    border: 1px solid $color-red;
    box-shadow: 0px 3px $color-red;
}
.green {
    color: $color-green;
    border: 1px solid $color-green;
    box-shadow: 0px 3px $color-green;
}
.small {
    width: 80px;
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0px 2px;
}
.btn:hover, .btn.small:hover {
    color: white;
    &.red {
        box-shadow: 0px 3px $color-red-shadow;
        background-color: $color-red;
    }
    &.green {
        box-shadow: 0px 3px $color-green-shadow;
        background-color: $color-green;
    }
}

.disable {
    // opacity: 0.6;
    cursor: default;    
    &.red, &.green {
        color: lightgray;
        border: 1px solid lightgray;
        box-shadow: 0 3px lightgray;
    }
    &.small {
        box-shadow: 0 2px;
    }
}
.disable:hover, .disable.small:hover {
    transform: none;
    &.red, &.green {
        background-color: white;
        color: lightgray;
        box-shadow: 0 3px lightgray;
        &.small {
            box-shadow: 0 2px lightgray;
        }
    }
}
.btn.arrow {
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50%;
    border: 3px solid $color-green;
    color: $color-green;
    background-color: white;
    transform: none;
    // box-shadow: 1px 3px $color-green-shadow;
    &:hover {
        background-color: $color-green;
        color: white;
    }
    &.disable {
        // box-shadow: 1px 3px gray;
        border: 0px;
        color: white;
        background-color: #e5e5e5;
    }
}
.btn:active, .btn.small:active {
    transform: translateY(3px);
    &.red, &.green, &.arrow {
        &:not(.disable) {
        box-shadow: 0px 0px;
        }
    }
    &.disable {
        transform: translateY(0px);
    }
}

/*  Ripple */

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
  }
  .rippleEffect {
      animation: rippleDrop .6s linear;
  }
  
  @keyframes rippleDrop {
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }