include ../components/button/button

mixin buttons({header,buttons})
    .buttons
        .buttons__header 
            +header(header)
        - for(var row = 0; row < buttons.length; row=row+4)
            .buttons__content
                - for(var i = row; i < row+4; i++)
                    +button(buttons[i].label, buttons[i].view)