
.page-header {
    display: flex;
    width: 100%;
    min-height: 200px;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: $color-green;
    background: linear-gradient($color-red, $color-red, $color-green-l);
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 10px;
    box-shadow: 5px 10px 25px $color-shadow;
    border: 1px solid $color-border;
    
    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        letter-spacing: 1px;
        a {
            color: $color-red;
        }
    }
}