@import "../scss/constants.scss";

.page-header {
    display: flex;
    width: 100%;
    min-height: 12.5rem;
    font-weight: bold;
    font-size: 6.25rem;
    text-transform: uppercase;
    letter-spacing: 1.875rem;
    color: $color-green;
    background: linear-gradient($color-red, $color-red, $color-green-l);
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.625rem 1.56rem $color-shadow;
    border: 0.06rem solid $color-border;
    
    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        a {
            color: $color-red;
        }
    }
}