$color-point: #4eb7a8;
$color-line: #e6e6e6;
$color-scale: lightgrey;
$lineHeight: 36px;

.sliderm2 {
    width: 40%;
    margin: 0 5%;
    .sliderm2body {
        position: relative;
        display: block;
        user-select: none;
        &.vertical {
            transform: rotate(-90deg) translateX(-$sliderm-body-width/2);
            margin-bottom: $sliderm-body-width;
            .sliderm-scale {
                div {
                    transform: rotate(90deg);
                }
            }
            .sliderm-point, .sliderm-startpoint {
                .sliderm-hint, .sliderm-starthint {
                    transform: rotate(90deg);
                }
            }
        }
        .sliderm2line, .sliderm2point {
            background-color: $color-line;
        }
        // .sliderm2range, .sliderm2line {
        //     height: $lineHeight;
        //     border-radius: $lineHeight/2;
        // }
        .sliderm2range, .sliderm2point {
            background-color: $color-point;
        }
        .sliderm2scale {
            position: absolute;
            display: flex;
            width: 100%;
            left: 0px;
            justify-content: space-between;
            color: $color-scale;
            font-size: 12px;
        }
    }
    .inputs {
        display: block;
        margin: 20px auto;
        .label {
            display: inline-block;
            width: 120px;
            color: $color-grey;
            font-family: 'Conv_Lato-Regular';
            font-size: 16px;
            text-align: right;
            &.shot {
                width: 80px;
            }
        }
        input {
            display: inline-block;
            width: 150px;
            margin: 4px;
            height: 30px;
            border-radius: 5px;
            border: 0px;
            background-color: $color-lightgray;
            color: $color-grey;
            font-family: 'Conv_Lato-Regular';
            font-size: 14px;
            padding-left: 12px;
        }
        .tick {
            margin: 10px 10px;
        }
    }
}