$color-green: hsl(171, 42%, 51%);
$color-green-shadow: hsl(171, 60%, 40%);
$color-green-l: hsl(171, 60%, 81%);
$color-green-body: hsl(169, 51%, 95%);
$color-red-l: #e6a192;
$color-red: #e75735;
$color-red-shadow: #bf3e1f;
$color-border: #bbbbbb;
$color-shadow: #bbbbbb;

.footer {
    display: flex;
    width: 100%;
    min-height: 9.375rem;
    font-weight: bold;
    font-size: 6.25rem;
    text-transform: uppercase;
    letter-spacing: 1.875rem;
    color: $color-green;
    background: linear-gradient($color-green-l, $color-red);
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.625rem 1.5625rem $color-shadow;
    border: 0.06rem solid $color-border;
}