.main-footer {
    display: flex;
    width: 100%;
    height: 150px;
    font-family: 'Conv_Lato-Black';
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: $color-green;
    background: linear-gradient($color-green-l, $color-red);
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 5px 10px 25px $color-shadow;
    border: 1px solid $color-border;
    margin-bottom: 50px;
    margin-top: 50px;
}