mixin footer
    .main-footer= "footer here"
        

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    script(src="main.js")