mixin footer
    .main-footer= "footer here"
        

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/jquery-asRange.min.js")
    link(rel="stylesheet" href="css/asRange.css")
    script(src="js/lc_switch.min.js")
    link(rel="stylesheet" href="css/lc_switch.css")
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/jquery-asRange.min.js")
    //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/jquery-asRange@0.3.4/dist/css/asRange.css")
    script(src="main.js")