
@import '../components/news/news';
@import '../components/event/event';

.news-events-row {
    min-height: 295px;
    padding-top: 20px;

    &__header {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        padding: 10px;
    }
}
